html {
  scroll-behavior: smooth;
}

body {
  max-width: 600px;
  margin: 0 auto;
  padding-bottom: 50px;
  line-height: 1.7;
  background-color: cornflowerblue;
  font-family: "Domine", serif;
  overflow-x: hidden;
}

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }

  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}

h1 {
  text-align: center;
  color: white;
  font-weight: bold;
  margin: 80px 0 0 0;
}

p {
  margin: 1.7em 0;
}

form {
  margin-bottom: -50px;
}

fieldset {
  padding: 30px;
  margin: 100px auto;
  border: 10px solid black;
  background: #f0ddf0;
  border-radius: 5px;
  transition: transform 0.2s;
  box-shadow: 8px 8px 10px #313030;

}

fieldset:hover {
  padding: 30px;
  margin: 100px auto;
  background: #f0ddf0;
  border-radius: 5px;
  box-shadow: 20px 20px 15px #313030;
  transform: scale(1.1);
}

legend {
  background-color: black;
  color: white;
  font-weight: bold;
  padding: 10px;
  border-radius: 5px;
}

input{
  cursor: pointer;
}

/* bouton */

.bouton {
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0, #f6f7f7),
    color-stop(1, #ececed)
  );
  background-image: -webkit-linear-gradient(top, #f6f7f7, #ececed);
  background-image: -moz-linear-gradient(top, #f6f7f7, #ececed);
  background-image: -ms-linear-gradient(top, #f6f7f7, #ececed);
  background-image: -o-linear-gradient(top, #f6f7f7, #ececed);
  -moz-box-shadow: 0 1px 1px #cecece;
  -webkit-box-shadow: 0 1px 1px #cecece;
  box-shadow: 0 1px 1px #cecece;
  border: solid #cecece 1px;
  border-radius: 8px;
  color: black;
  font-weight: 1000;
  padding: 0.5em;
  min-width: 200px;
  text-align: center;
  text-decoration: none;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.bouton.vert {
  border-color: #96bd71;
  color: white;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0, #9bcc69),
    color-stop(1, #89c250)
  );
  background-image: -webkit-linear-gradient(top, #9bcc69, #89c250);
  background-image: -moz-linear-gradient(top, #9bcc69, #89c250);
  background-image: -ms-linear-gradient(top, #9bcc69, #89c250);
  background-image: -o-linear-gradient(top, #9bcc69, #89c250);
}
.bouton.vert:hover {
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0, #8ec656),
    color-stop(1, #7cb840)
  );
  background-image: -webkit-linear-gradient(top, #8ec656, #7cb840);
  background-image: -moz-linear-gradient(top, #8ec656, #7cb840);
  background-image: -ms-linear-gradient(top, #8ec656, #7cb840);
  background-image: -o-linear-gradient(top, #8ec656, #7cb840);
}

/* modal */

#modal {
  text-align: center;
  position: relative;
  padding: 30px;
  margin: 50px auto -20px auto;
  border: 10px solid black;
  background: #f0ddf0;
  border-radius: 5px;
}

/*Tab + mobile */
@media only screen and (min-width: 200px) and (max-width: 800px) {
  body {
    width: 90%;
    margin: 0 auto;
  }

  fieldset:hover {
    transform: scale(1);
    box-shadow: 0 0 0 transparent;
  }
}
